@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1, small{
    font-family: 'Roboto', sans-serif;
}

footer, main, p {
    font-family: 'Roboto', sans-serif;
}

.card-img-top.img-fluid {
    width: 100%;
    height: 20vw;
}

@media screen and (max-width: 768px) {
    .card-img-top.img-fluid {
        width: 100%;
        height: 70vw;
        object-fit: fill;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-img-top.img-fluid {
        width: 100%;
        height: 60vw;
        object-fit: fill;
    }
}
@media screen and (max-width: 1200px) {
    .card-text {
        font-size: 1rem;
    }
}


